.slideStyles {
  border-radius: 0.6rem;
  background-size: cover;
  background-position: center;
  min-height: 30rem;
}

.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 2rem;
  font-size: 3rem;
  fill: white;
  stroke: black;
  stroke-width: 2%;
  z-index: 1;
  cursor: pointer;
}

.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 2rem;
  font-size: 3rem;
  fill: white;
  stroke: black;
  stroke-width: 2%;
  z-index: 1;
  cursor: pointer;
}

.wrapperStyles {
  flex: 1;
  position: relative;
  height: 100%;
}

.dotsContainerStyles {
  display: flex;
  justify-content: center;
}

.dotStyle {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}
